/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@media only screen and (max-width: 992px) {
  .m4:nth-child(3n+1) {
      clear:both;
  }
}

@media only screen and (min-width: 993px) {
  .l3:nth-child(4n+1) {
      clear:both;
  }
}

.modal.bottom-sheet {
  max-height: 75%;
}

.logo-left {
  width: 80px;
}

.img-inativo {
  opacity: 0.3;
}